body {
  /* overflow: hidden; */
  scroll-behavior: smooth;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.step-container {
  display: flex;
  cursor: pointer;
}

.step-icon {
  margin-right: 10px;
}

.step-text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: -2px;
}


.step-desc {
  font-size: smaller;
  width: 578px;
}

.completed-icon {
  color: green;
}

.stepper-container {
  display: flex;
}

.steps {
  flex-direction: column;
}

.content {
  margin-left: 20px;
}

/* Add styles for active step */
.step-container.active .step-title,
.step-container.active .step-desc {
  font-weight: bold;
}

/* Ensure images fill the container but don't overflow */
.content img {
  max-width: 100%;
  height: auto;
}
