.main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 30px; */
  flex-direction: column;
} /* Slider code */
.slider {
  --per-page: 1;
  --gap: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-inline: var(--gap);

  @media (min-width: 425px) {
    --per-page: 1;
  }

  @media (min-width: 768px) {
    --per-page: 1;
  }

  & input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  & .track {
    flex-grow: 1;
    display: flex;
    margin-block: var(--gap);
    margin-inline: calc(var(--gap) / -2);
    overflow: hidden;
  }

  & .slide {
    flex-basis: calc((100% / var(--per-page)) - var(--gap));
    flex-shrink: 0;
    margin: calc(var(--gap) / 2);
    display: flex;
    overflow: hidden;
    min-width: 0;
    flex-direction: column;
    transition: 0.2s ease-out;
    padding: var(--gap);
    border-radius: var(--gap);
    opacity: 1;
  }

  .controls {
    padding: 0;
    /* margin: calc(var(--gap) / -4) calc(var(--gap) / -4) calc(var(--gap) / 2); */
    /* margin: 0 auto calc(var(--gap) / 2); */
    margin-top: -60px;
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
    flex-wrap: wrap;
  }

  & label {
    margin: 0.5rem;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
    text-indent: -9999px;
    height: 1rem;
    width: 1rem;
    opacity: 0.5;
  }
}
