/* .container {
  display: flex;
  margin-left: 10%;
  max-width: 1200px;
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.active {
  background-color: green;
  color: white;
  
  font-weight: bolder;
}

.content {
  flex: 3;
  overflow-y: scroll;
  height: 70vh;
}

.section {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.container {
  display: flex;
  margin-left: 8%;
  max-width: 1240px;
  /* direction: rtl; */
}

.sidebar {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* direction: ltr; */
}

.active {
  font-weight: bolder;
}

.content {
  flex: 3;
  overflow-y: scroll;
  height: 70vh;
  margin: 15px;
}

.section {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  cursor: pointer;
}
