.container {
  display: flex;
  margin-left: 8%;
  width: 1280px;
  /* direction: rtl; */
}

.sidebar {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.sidebar > div:hover {
  transform: scale(1.06);
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

.active {
  font-weight: bolder;
  transition: none;
}

.content {
  flex: 3;
  overflow-y: scroll;
  height: 73vh;
  margin: 15px;
}

.section {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  cursor: pointer;
}

